.about-container{
  width: 70%;
  height: 70%;
  /* position:absolute; */
  margin:180px 210px;
  color:#fff;
  background-color: rgb(77, 117, 234);
  background-image: url('../IMG/pattern.png');
  background-size: cover, contain;
  background-size: 400px;
  background-blend-mode:color-burn;  
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 40px;
  border-radius: 5px;
}
.image-container{
  flex-basis: 40%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: 500px;
  margin: 20px;
  border-radius: 10px;
}
.text-container{
  padding:30px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 22px;
}
.text-container h1{
  padding-bottom: 10px;
  margin-bottom: 20px;
  font:600 70px 'Montserrat';
  border-bottom: solid 10px #ffe32e;
}
.text-container span{
  padding:20px 0;
  text-align: justify;
}
.SocialMedia-col{
  width: 40%;
  margin-left:0px;
  padding:0px;
}

.SocialMedia-col h4{
 font-size: 18px;
 color: #ffffff;
 text-transform: capitalize;
 margin: 25px 0px;
 font-weight: 500;
 position: relative;
}
.SocialMedia-col h4::before{
 content: '';
 position: absolute;
 left:0;
 bottom: -7px;
 background-color: #ffe32e;
 height: 2px;
 box-sizing: border-box;
 width: 52%;
}
.SocialMedia-col ul li:not(:last-child){
 margin-bottom: 10px;
}
.SocialMedia-col ul li{
 margin :20px 0 ;
}
.SocialMedia-col .SocialMedia a{
 display: inline-block;
 height: 40px;
 width: 40px;
 background-color:#26252f;
 margin:0 20px 0 0;
 text-align: center;
 line-height: 40px;
 border-radius: 50%;
 color: #ffffff;
 transition: all 0.5s ease;
}
.SocialMedia-col .SocialMedia img{
 display: inline-block;
 height: 40px;
 width: 40px;
 text-align: center;
 line-height: 40px;
 border-radius: 50%;
 color: #ffffff;
 transition: all 0.5s ease;
}
