.sub-menu-wrap{
 
    position: absolute;
    top: -100%;
    right: 2%;
    width: 250px;
    max-height:400px;
    overflow: hidden;
    transition: max-height 0.5s;
    opacity: 0;

   
}

.sub-menu-wrap.open{
    opacity: 1;
    top :100%;
   
}
.hi{ 
    border: 0;
  background-color: #52525200;
    cursor: pointer;
   
}
.image_delete{
    width:20px;
}
#aaa{
    background:#ffffff;
    border-radius:10px ;
    color:#fff;
    font-size: .8rem;
    padding: 0.5rem 1rem ;
    margin-right: -30px;
    border: 1px solid #ffffff;
}
*/
.btnn{
    border: 0;
    background-color: #00000000;
    border-radius: 50px;
    padding: -10px -10px;

    cursor: pointer;
}
#imgg{
    width: 20px;
    height: 20px;
  
}

.Sub-menu{
     background: rgb(52, 115, 211);
     padding: 20px;
     margin: 10px;
}
.user-infos{
   display: flex;
   align-items: center;
}
.user-infos h3 {
   font-weight: 500;
}
.user-infos img {
   width: 30px;
   border-radius: 50%;
   margin-right: 15px;
   height: 30px;
}
.Sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px ;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    color: black;
    font-weight: 600;
}